If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [32]:
#pythonic brute-force method:
series=0
x=0
while x<1000:
    if x/3 % 1==0 or x/5 % 1==0:
        series+=x
    x+=1
print(series)

233168

In [12]:
#Algorithmic method
#find the highest multiples of 3 and 5 below 1000:
def top_multiple(x,total):
    for nb in reversed(range(total)):
        if int(nb/x)==nb/x:
            return nb
print(top_multiple(3,1000))
print(top_multiple(5,1000))

999
995

In [42]:
#find number of elements in each series:
def find_n(x,total):
    return top_multiple(x,total)/x
print(find_n(3,1000))
print(find_n(5,1000))

333.0
199.0

In [41]:
#Apply the formula for the sum of arithmetic series
def ar_series(x,total):
    n=find_n(x,total)
    last=top_multiple(x,total)
    return n*((x+last)/2)
print(ar_series(3,10))

18.0

In [47]:
# sum and remove multiples of 3 * 5 below 1000 to avoid double-counting
ar_series(3,1000)+ar_series(5,1000)-ar_series(3*5,1000)

233168.0